:root {
  --purple: ##8c52ff;
  --black: #000000;
  --white: #ffffff;
  --grey: #dbdbdbff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: "Netflix Sans", Arial, Helvetica, sans-serif;
  color: var(--white);
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px 10px 50px;
}

header .logo {
  width: 162px;
  height: 60px;
}

header nav a {
  color: var(--white);
  font-size: 16px;
  text-decoration: none;
  text-transform: capitalize;
  margin: 10px;
}

header nav a:hover {
  color: var(--grey);
}

main {
}

.main-course {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 50px 40px;

  background: linear-gradient(rgba(0, 0, 0, 0.8)),
    url("/img/backgrounds/code.jpg");
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.main-course .container .title {
  font-size: 40px;
  margin: 20px 0px;
  font-family: "Trebuchet MS", Arial, sans-serif;
  text-transform: uppercase;
}

.main-course .container .description {
  margin: 20px 0px;
  width: 70%;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.button {
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 20px;
  border: none;
  color: white;
  padding: 10px 10px;
  margin-right: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
  border-radius: 10px;
  display: flex;
  gap: 8px;
}

.button .icon {
  width: 16px;
  height: 16px;
  align-self: center;
  filter: invert(100%) sepia(0%) saturate(1742%) hue-rotate(69deg)
    brightness(114%) contrast(101%);
}

.button:hover {
  background-color: white;
  box-shadow: rgba(2, 2, 2, 0.2) 0px 2px 8px 0px;
  border: none;
  color: black;
  padding: 10px 10px;
  box-shaddow: 10px 10px red;
  cursor: pointer;
  transition: 0.3s ease all;
}

.button:hover .icon {
  filter: none;
}

.carousel .box-course {
  height: 100%;
  width: 100%;
  display: inline-block;
  margin: 10px 10px;
}
